/mysite/db.sqlite3
# Default ignored files
/workspace.xml
/ashiq5.github.io.iml

/.idea/misc.xml
/.idea/ashiq5.github.io.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/mysite/node_modules