{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Ishtiaq{% endblock %}</title>
</head>
<body>
{% block pagecontent %}
    <p>
        I am a first year Ph.D. student at Virginia Tech, Blacksburg, VA, USA. Currently working in the field of network
        measurement and security under Dr. Taejoong Chung.

        Previously, I served as a Lecturer in the Department of Computer Science and Engineering at United International
        University, Dhaka, Bangladesh. I did my Bachelor's (B.Sc.) from Bangladesh University of Engineering and Technology (BUET) in
        October 2018.</p>

    <p>My research interest lies in network security, measurement, and machine learning.
    </p>
    <p>From 2018 to July 2019, I worked as a Software Engineer in the Design and Development Department at InfoSapex
        Limited,
        Dhaka, Bangladesh.</p>
    </p>
{% endblock %}
</body>
</html>
{% block script %}
    <script type="text/javascript">
        $('nav li a').removeClass('active');
        $('nav li a[href="/' + location.pathname.split("/")[1] + '"]').addClass('active');
    </script>
{% endblock %}