{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pdfobject.min.js' %}"></script>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "7c2a95bc173e4e6d9c412206d5a7dcec"}'></script><!-- End Cloudflare Web Analytics -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
</head>
<body>
<div class="container">
{#    {% include "menu.html" %}#}
    {% block pagecontent %}
    {% endblock %}
</div>
</body>
</html>
{% block script %}
{% endblock %}
{% block css %}
    <style>
        .pdfobject-container { width:100%; height: 45rem; border: 1rem solid rgba(0,0,0,.1); }
    </style>
{% endblock %}