{% extends "base.html" %}
<html>
<head>
    <title>
        {% block title %}
            Ishtiaq Ashiq
        {% endblock %}
    </title>
    {#        {% load static %}#}
    {#        <link rel=¨stylesheet¨ type=¨text/css¨ href="{% static 'css/bootstrap.min.css' %}"/>#}
</head>
<body>
{% block pagecontent %}
    <div class="container">
        <div class="blurb">
            <h1>Hi there, I'm Md. Ishtiaq Ashiq Khan!</h1>
            <p>I'm currently working as a <em>lecturer</em> at United International University, Dhaka, Bangladesh.
                <a href="/about">Read more about my life...</a></p>
        </div><!-- /.blurb -->
    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:ishtiaqashiq5@gmail.com">email</a></li>
            <li><a href="https://github.com/ashiq5">github.com/ashiq5</a></li>
        </ul>
    </footer>
{% endblock %}
</body>
</html>