{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ishtiaq's Publications{% endblock %}</title>
</head>
<body>
{% block pagecontent %}
    <ul>
        <li>
            <b>Measuring TTL Violation of DNS Resolvers in the Wild</b> (<a target="_blank" href="https://taejoong.github.io/pubs/publications/bhowmick-2023-dns.pdf">Paper</a>) <br>
            Protick Bhowmick, <b>Md. Ishtiaq Ashiq</b>, and Taejoong Chung <br>
            In <i>Proceedings of the Passive and Active Measurement Conference (PAM '23), Virtual, Mar 2023 </i>
        </li>
        <li>
            <b>Under the Hood of DANE Mismanagement in SMTP</b> (<a target="_blank" href="https://www.usenix.org/system/files/sec22summer_lee.pdf">Paper</a>) <br>
            Hyeonmin Lee, <b>Md. Ishtiaq Ashiq</b>, Moritz Muller, Roland van Rijswijk-Deij, Taekyoung Kwon,
            and Taejoong Chung <br>
            In <i>Proceedings of the USENIX Security Symposium (Security '22)</i>, Boston, United States, August 2022
        </li>
        <li><b>Measurement and Analysis of Automated Certificate Reissuance</b> (<a target="_blank" href="https://link.springer.com/chapter/10.1007/978-3-030-72582-2_10">Paper</a>)<br>
            Olamide Omolola, Richard Roberts, <b>Md. Ishtiaq Ashiq</b>, Taejoong Chung, Dave Levin, and Alan Mislove<br>
            In <i>Proceedings of the Passive and Active Measurement Conference (PAM '21)</i>, Virtual, Mar 2021 <br>
        </li>
        <li><b>Domain Flux based DGA Botnet Detection Using Feedforward Neural Network</b> (<a target="_blank" href="http://mshohrabhossain.buet.ac.bd/pub/19-MILCOM-Botnet-Camera.pdf">Paper</a>)<br>
            <b>Md. Ishtiaq Ashiq</b>, Protick Bhowmick, Md. Shohrab Hossain and Husnu S. Narman<br>
            In <i>IEEE Military Communications (MILCOM)</i>, Norfolk, VA, USA, Nov 12-14, 2019 <br>
        </li>
    </ul>
{% endblock %}
</body>
</html>
{% block script %}
    <script type="text/javascript">
        $('nav li a').removeClass('active');
        $('nav li a[href="/' + location.pathname.split("/")[1] + '"]').addClass('active');
    </script>
{% endblock %}