{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ishtiaq's Publications{% endblock %}</title>
</head>
<body>
{% block pagecontent %}
    <ul>
        <li>Olamide Omolola, Richard Roberts, <b>Md. Ishtiaq Ashiq</b>, Taejoong Chung, Dave Levin, and Alan Mislove,
            "<i>Measurement and Analysis of Automated Certificate Reissuance</i>",
            in <b>Proceedings of the Passive and Active Measurement Conference (PAM21)</b>,
            , Virtual, Mar 2021
        </li>
        <li><b>Md. Ishtiaq Ashiq</b>, Protick Bhowmick, Md. Shohrab Hossain and Husnu S. Narman,
            "<i>Domain Flux based DGA Botnet Detection Using Feedforward Neural Network</i>",
            in <b>IEEE Military Communications (MILCOM)</b>,
            Norfolk, VA, USA, Nov 12-14, 2019 (<a target="_blank" href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=9020730">pdf</a>)
        </li>
    </ul>
{% endblock %}
</body>
</html>
{% block script %}
    <script type="text/javascript">
        $('nav li a').removeClass('active');
        $('nav li a[href="/' + location.pathname.split("/")[1] + '"]').addClass('active');
    </script>
{% endblock %}