{% extends "base.html" %}
<html>
<head>
    <title>{% block title %}Ishtiaq's Resume{% endblock %}</title>
</head>
<body>
{% block pagecontent %}
<div>
{#    <iframe id="iFrame1" src="https://drive.google.com/file/d/1VTP-mnfdsYy_X12V7d-UmdoWx0QkTpL1/preview?usp=sharing"#}
{#            width="100%"></iframe>#}
    {% load static %}
{#    <iframe#}
{#    src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://www.pythonanywhere.com/user/ashiq5/files/home/ashiq5/ashiq5.github.io/mysite/staticfiles/files/resume.pdf"#}
{#    frameBorder="0"#}
{#    scrolling="auto"#}
{#    height="100%"#}
{#    width="100%"#}
{#></iframe>#}
    <div id="example1"></div>
{#    <embed id="resume" src="{% static 'files/resume.pdf' %}" type="application/pdf" width="100%"/>#}
{#    <embed id="resume" src="http://docs.google.com/gview?embedded=true&url=https://www.pythonanywhere.com/user/ashiq5/files/home/ashiq5/ashiq5.github.io/mysite/staticfiles/files/resume.pdf" type="application/pdf" width="100%"/>#}
</div>
{% endblock %}
</body>
{% block script %}
    <script>PDFObject.embed("{% static 'files/resume.pdf' %}", "#example1");</script>
    <script type="application/javascript">
        window.addEventListener('DOMContentLoaded', function (e) {
            let resume = document.getElementById('example1');
            resizeToFitContent(resume, window);
        });
        $('nav li a').removeClass('active');
        $('nav li a[href="/' + location.pathname.split("/")[1] + '"]').addClass('active');
    </script>
{% endblock %}
</html>